body {
    font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
    color: white;
    background-color: black;
    }

.user-info h1{
    font-size: 25px;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.user-info p{
    font-size: 20px;
    color: white;
    text-align: center;
}
